.img-game {
  width: 100%;
  height: 40vh;
  display: block;
  object-fit: cover;
}

.game-card {
  width: 100%;
  background-color: rgb(139, 141, 143);
  box-shadow: 0px 0px 25px rgb(177, 177, 177);
  border-radius: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease-out;
  overflow: hidden;

  &:hover {
    background-color: #c4854a;
    transform: scale(1.1, 1.1);
  }
}

.game-title {
  color: #d7d5d3;
  text-align: center;
  padding: 1rem 0rem;
}

.video-game-detail {
  width: 100%;
  height: 50vh;
  background-color: red;
}
