body {
  margin: 3rem;
  // background-color: rgb(255, 255, 255);
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/carbon-fibre-big.png");
  font-family: "Montserrat", sans-serif;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-orange {
  color: #ffac59;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  column-gap: 40px;
  row-gap: 40px;
  margin-top: 4rem;
}
