.search-box {
  text-align: center;
}

.search-input {
  width: 35vw;
  padding: 0.2rem;
  border: none;
  font-weight: bolder;
  height: 4.5vh;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;

  &__btn {
    padding: 0.2rem 1.5rem;
    outline: none;
    border: none;
    background-color: #55c57a;
    cursor: pointer;
    height: 4.5vh;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.my-logo {
  width: 6rem;
  height: 6rem;
  filter: opacity(0.6);
  cursor: pointer;
}

//Media Query
@media only screen and (max-width: 800px) {
  .search-input {
    width: 50vw;
  }
}

@media only screen and (max-width: 478px) {
  .search-input {
    outline: none;
  }
}

@media only screen and (max-width: 400px) {
  .search-input {
    width: 50vw;
  }
}

@media only screen and (max-width: 378px) {
  .search-input {
    width: 40vw;
  }
}
