.search-box {
  text-align: center;
}

.search-input {
  width: 30vw;
  padding: 0.2rem;
  border: none;
  font-weight: bolder;

  &__btn {
    padding: 0.2rem 1rem;
    outline: none;
    border: none;
    background-color: #55c57a;
    cursor: pointer;

    &:hover {
      background-color: #48a868;
      transform: scale(1.2);
    }

    &:active {
      transform: translateY(2px);
    }
  }
}

.my-logo {
  width: 6rem;
  height: 6rem;
  filter: opacity(0.6);
}
