.search-box {
  text-align: center;
}

.search-input {
  width: 30vw;
  padding: 0.2rem;
  border: none;
  font-weight: bolder;

  &__btn {
    padding: 0.2rem 1rem;
    outline: none;
    border: none;
    background-color: #55c57a;

    &:hover {
      background-color: #48a868;
    }

    &:active {
      transform: translateY(2px);
    }
  }
}
